@import "tailwindcss";

@theme {
  /* Declaramos los colores de Barbas Cut's para usarlos en el HTML */
  --color-barbas-black: #121212;
  --color-barbas-gold: #D4AF37;
  --color-barbas-dark: #1C1C1E;
}

/* Si tu Next.js trajo código base debajo de esto, puedes borrarlo para empezar limpios */
body {
  background-color: var(--color-barbas-black);
  color: white;
}